@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
#login-form {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 125px auto;
}
button{
    cursor: pointer;
}